<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    
    <form action="/api/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" class="file-input" accept=".csv, .xlsx, .xls" required/>

      <button class="btn">submit</button>
    </form>

    {% if error %}
      <p class="text-red-500 mt-4">{{ error }}</p>
    {% endif %}

    
  </body>
</html>

    